.active{
    background-color:rgba(30, 255, 0, 0.425);
    padding:10px;
    border-color: rgb(0, 0, 0);
    border-style:solid;
    border-width:0px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 59px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 59px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 59px 0px rgba(255,255,255,1);
}

.retreat{
    background-color:rgb(192, 171, 51);
    color:black;
    border-color: rgb(0, 0, 0);
    border-style:solid;
    border-width:1px;
    border-radius: 10px;
    margin:1px;
    padding:2px;
    box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.8);
}

.retreat:hover{
    background-color:rgb(240, 176, 39);
    cursor:pointer;
}
.retreat-selected{
    border-color: yellow!important;    
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes glow {
    0%{
        background-color: yellow;
    }
    50% {
        -webkit-box-shadow: 0px 0px 22px 11px rgba(255,255,0,1);
        -moz-box-shadow: 0px 0px 22px 11px rgba(255,255,0,1);
        box-shadow: 0px 0px 22px 11px rgba(255,255,0,1);
    }
    100% {
        background-color: yellow;
    }
}

.current-status{
    border-style:solid;
    border-width:1px;
    border-color: rgb(161, 58, 58);    
    background-color: rgb(243, 214, 214);    
    animation-name: status_glow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-width:1px;
    border-radius: 10px;
    margin:1px;
    padding:2px;
    box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 33px -4px rgba(0,0,0,0.8);
}

@keyframes status_glow {
    0%{
    }
    50% {
        -webkit-box-shadow: 0px 0px 22px 11px rgba(255, 0, 0, 0.473);
        -moz-box-shadow: 0px 0px 22px 11px rgba(255, 0, 0, 0.473);
        box-shadow: 0px 0px 22px 11px rgba(255, 0, 0, 0.473);
    }
    100% {
    }
}