<Template name="LandingLayout">
    <main>
        {{#if IsLoggedIn}}
            {{> UploadDeck uploadType="abilities"}}
            {{> UploadDeck uploadType="cards"}}
            {{> UploadDeck uploadType="deck"}}
            {{#if cardsExists}}
                {{#if abilitiesExists}}
                    {{#if deckExists}}
                        <span>Shuffle deck</span>
                        <input type="checkbox" text="Shuffle Deck" class="shuffle-option" />
                        <br />
                        <span class="goToPlay">Play!</span>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
    </main>
</Template>