<Template name="LandingLayout" class="container">
    <main>
        <div >
        {{>Header}}
        {{#if IsLoggedIn}}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 landing-box">
                    <br />
                {{#if isAdmin}}
                    {{> UploadDeck uploadType="abilities"}}
                    {{> UploadDeck uploadType="cards"}}
                {{/if}}

                {{> UploadDeck uploadType="deck"}}
                <br />

            </div>
        </div>
        <br />
        <br />
            {{#if cardsExists}}
                {{#if abilitiesExists}}
                    {{#if deckExists}}
                    <div class="row ">
                            <div class="col-sm-6 col-sm-offset-3 landing-box">
                                <br />
                                <br />
                        <div class="resumeGame btn btn-primary" disabled={{canResumeGame}}>Resume Last Game</div>
                        <br />
                        <br />
                       <label class="btn btn-primary"> 
                           <span>Shuffle deck</span>
                            <input type="checkbox" checked=true text="Shuffle Deck" class="shuffle-option" id="shuffle-option" />
                        </label>
                        <br />
                        <br />
                        <div class="dropDecksForUser btn btn-warning">Drop all decks</div>
                        <br />
                        <br />
                        <span>Choose AI Deck for New Game:</span>
                        <select id="airDeck">
                            {{#each deck in getDecks}}
                                <option data-deck-id={{deck._id}}>{{deck.name}}</option>
                            {{/each}}
                        </select>
                        <br />
                        <br />
                        <span >Choose your Deck for New Game:</span>
                        <select id="playerDeck">
                            {{#each deck in getDecks}}
                                <option data-deck-id={{deck._id}}>{{deck.name}}</option>
                               {{/each}}
                        </select>
                        <br />
                        <br />
                        
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="newGame btn btn-success">New Game</div >
                            </div>
                        </div>
                        <br />
                        <br />
                        
                        </div>
                    </div>
                    {{else}}
                    <div class="row ">
                        <div class="col-sm-6 col-sm-offset-3 landing-box">
                            <div class="alert">Please Upload a Deck</div>
                        </div>
                    </div>

                    {{/if}}
                {{/if}}
            {{/if}}
        {{else}}
            {{>loader}}
    {{/if}}
    </div>
    </main>
</Template>