<Template name="ChoiceModal">
    <div class="modal-fade" id="ChoiceModal"  tabindex="-1" role="alertdialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h2 class="modal-title" align="center">Choose Target(s)</h2>
                        <div class="modal-body modal-choice-body">
                            <div class="container cardView">
                                {{#if choice.aiDeck}}
                                    <div class="row deck-choice" style="overflow-x: auto;">
                                        {{>CardRowView cards=choice.aiDeck hidden=true}}
                                    </div>
                                {{/if}}
                                {{#if choice.aiDiscard}}
                                    <div class="row discard-choice" style="overflow-x: auto;">
                                        {{>CardRowView cards=choice.aiDiscard hidden=true}}
                                    </div>
                                    {{/if}}
                                {{#if choice.aiHand}}
                                 <div class="row hand-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.aiHand hidden=true}}
                                </div>
                                {{/if}}
                                {{#if choice.aiBench}}
                                <div class="row bench-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.aiBench}}
                                </div>
                                {{/if}}
                                {{#if choice.aiActive}}
                                <div class="row active-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.aiActive isActive=true}}
                                </div>
                                {{/if}}
                                {{#if choice.active}}
                                <div class="row active-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.active isActive=true}}
                                </div>
                                {{/if}}
                                {{#if choice.bench}}
                                <div class="row bench-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.bench}}
                                </div>
                                {{/if}}
                                {{#if choice.hand}}
                                <div class="row hand-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.hand pokemonOnly=isPokemonOnly}}
                                </div>
                                {{/if}}
                                {{#if choice.discard}}
                                <div class="row discard-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.discard }}
                                </div>
                                {{/if}}
                                {{#if choice.deck}}
                                <div class="row deck-choice" style="overflow-x: auto;">
                                    {{>CardRowView cards=choice.deck}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                </div>
                <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-1">
                                    <div>You Chose:</div>
                                </div>
                                {{> Targets targets=getTargets}}
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-7">
                                    <button type="button" id="cancelTarget" class="btn btn-danger">Cancel</button>
                                    <button type="button" id="confirmTarget" class="btn btn-success">Confirm</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</Template>

<Template name="CardRowView">
        {{#each card in cards}}
            {{>DisplayCard card=card hidden=hidden isActive=isActive  }}
        {{/each}}
</Template>

<Template name="DisplayCard">
    {{#if isActive}}
        <div class="col-sm-2 col-sm-offset-5 cardChoice {{choseThis}} ">
            {{> Card playableCard=card hidden = hidden miniView=true isChosen=false }}
        </div>
    {{else}}
        <div class="col-sm-2 cardChoice {{choseThis}} ">
            {{> Card playableCard=card hidden = hidden miniView=true isChosen=isChosen}}
        </div>
    {{/if}}
</Template>

<Template name="Targets">
        {{#each card in targets}}
        <div class="col-sm-1">
            {{card.card.name}}
        </div>
        {{/each}}
</Template>
