<Template name="PlayLayout">
    <main class="play-layout">
        {{#unless IsLoggedIn}}
            {{RedirectToLandingLayout}}
         {{/unless}}
         <span>welcome to the play screen</span>
         <!-- {{> ChoiceModal aiHand=getGameState.ai.hand aiBench=getGameState.ai.bench aiActive=getGameState.ai.active
            active=getGameState.player.active  bench=getGameState.player.bench hand=getGameState.player.hand
        }} -->
         {{> Board  gamestate = getGameState}}
    </main>
</Template>