<Template name="PlayLayout">
    <main class="play-layout">
        {{#unless IsLoggedIn}}
            {{RedirectToLandingLayout}}
         {{/unless}}
         <!-- {{> ChoiceModal aiHand=getGameState.ai.hand aiBench=getGameState.ai.bench aiActive=getGameState.ai.active
            active=getGameState.player.active  bench=getGameState.player.bench hand=getGameState.player.hand
        }} -->
        {{> Board gamestate = getGameState}}
        {{#if isGameOver}}
            <h1>GAME OVER BITCH</h1>
            <!-- TODO: ADD THE MODAL FOR WINNING OR LOSING -->
        {{/if}}
    </main>
</Template>